<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      @import "../assets/style.css";
    </style>
    <title></title>
  </head>
  <body>
    <h2>{{age}}</h2>
    <h2>{{name}}</h2>
  </body>
  {{> footer}}
</html>
